fastlane/** filter=lfs diff=lfs merge=lfs -text
AudioKit.framework/** filter=lfs diff=lfs merge=lfs -text
AudioKitUI.framework/** filter=lfs diff=lfs merge=lfs -text
ARSynthesis/hats.wav filter=lfs diff=lfs merge=lfs -text
ARSynthesis/kick.wav filter=lfs diff=lfs merge=lfs -text
ARSynthesis/snare.wav filter=lfs diff=lfs merge=lfs -text
